
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

header{
	width: 100%;
    min-width: 480px;
	height: 279px;
	padding: 0;
	margin: 0;
	@media (max-width: 767px) { width: 100%;     }
}

.row1 {
    background-color: #042558;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width:1366px;
    background-color: #042558;
    height: 64px;
    padding: 0;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
        height: 54px;
        width: 100%;
    }
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

@media (max-width: 767px) {
    nav ul {
        flex-wrap: wrap;
        margin: 0px 35px;

    }
}

nav li {
    flex-grow: 1;
    text-align: center;
    @media (max-width: 767px) {
        flex: 0 0 33%;
        text-align: center;

    }
}

.navbar li a {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    padding: auto;
    display: inline;
    margin: auto;
    font-weight: 700;

    @media (max-width: 767px) {
        font-size: 12px;

    }
}



.row2 {
    display: flex;
    width: 95%;
    max-width:  1366px;
    justify-content: space-between;
    margin: 24px auto;
    @media (max-width: 767px) { margin: 15px auto;}
}


.row2logo{
    display: flex;
    width: 33%;
    height: 62px;
    @media (min-width: 1366px) { height: 72px; }
    @media (max-width: 767px) { height: 39px; width: 33%;}
}

.name {
    @media (min-width: 1366px) { font-size: 20px; }
    @media (max-width: 767px) { font-size: 10px;  min-width: 136px;}
    font-size: 15px;
    color: #336DB3;
    min-width: 196px;
    text-align: left;
    margin: 0 5px;
    font-weight: 700;
    

}

.row2prior {
    display: flex;
    width: 30%;
    max-width: 276px;
    justify-content: center;

    align-items: flex-start;
    @media (min-width: 1366px) { max-width: 295px; }
    @media (max-width: 767px) { max-width: 142px; }
}

.logo2030 {
    width: 100%;
}



.row2search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 7%;
    @media (max-width: 767px) {
        position: absolute;
        top: 120px;
        left: 3vw;
        max-width: 177px;
        @media (max-width: 480px) {
            left: 15px;
        }
    }
}

.row2-3{
    display: flex;

    justify-content: right;
    width: 33%;
    @media (max-width: 767px) {
        width: 25%;
    }
}

.blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    @media (max-width: 767px) {
        position: absolute;
        left: 58vw;
        max-width: 177px;
        @media (max-width: 480px) {
            left: 280px;
        }
    }

}

.rectangle1, .rectangle2 {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 30px;
    min-width:100px;
    @media (min-width: 1366px) { height: 35px;}
    @media (max-width: 767px) { min-width: 80px;}
    width: 46%;
    display: flex;
    margin: 0 2%;
    justify-content: space-between;
    align-items: center;

}

form[name="search"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 14px;
    height: 27px;
    @media (max-width: 767px) {
        margin-top: 0;

    }
}

input[name="q"] {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
}

.but {
    background-color: rgba(28,28,28,0);
    border: none;
    padding: 10px;

}

.rectangle1 a {
    color: #336DB3;
    font-size: 15px;
    text-decoration: none;
    margin:auto;
    padding:auto;
    @media (max-width: 767px) { font-size: 10px; }
}

.rectangle2 a {
    color: #336DB3;
    font-size: 15px;
    text-decoration: none;
    margin:auto;
    @media (max-width: 767px) { font-size: 10px; }
}
.row2lang {
    max-width: 35px;

    @media (max-width: 767px) { display:flex; max-width: 100px; justify-content: center; align-items: center;}
}
.eye {
    display: flex;
    height: 19px;
    @media (max-width: 767px) {
        height: 12px;

    }
}


.lang {
    border: none;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    @media (max-width: 767px) { font-size: 10px; margin-top: 0; margin-left: 15px;  }
}

.lupa{
     display: flex;
     height: 20px;
     @media (max-width: 767px) { height: 14px; }
}

.text {
    color: #042558;
}

.navbar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 70px;
    padding: auto;
    margin: 27px auto;
    max-width:1366px;

}
    .navbar2 li {
        align-items: center;
        margin: 8px auto;
        @media (min-width: 1366px) { margin: 11px auto; }
    }

    .navbar2 ul {
        flex-wrap: wrap;
        margin:auto;
    }

    .navbar2 li a {
        @media (min-width: 1366px) { font-size: 20px; }
        font-size: 15px;
        color: #042558;
        text-decoration: none;
        padding: auto;
        display: inline;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }




.menu-toggle {
    display: none;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #042558;
    background-color: rgba(28,28,28,0);
    padding: 5px;
    border: none;
    cursor: pointer;
}
.menu {
    display: none;
    align-items: center;
}

.arrow {
    height: 6px;
    width: 14px;
}

    @media (max-width: 767px) {
        .navbar2 {
            display: none;
        }

        .menu {
            display: flex;
            cursor: pointer;
            position: absolute;
            left: 40vw;
            top: 120px;
            min-left: 100px;
        }
        .menu-toggle {
            display: flex;
        }
        @media (max-width: 480px) {
            .menu {
            left: 190px;
            top: 120px;

            }
            .
        }
    }

.navbar2.open {
    display: flex;
    flex-direction: column;
}